<template>
	<div class="flex flex-col page md:h-screen">
		<header class="h-20 px-0 app-header lg:mx-32">
			<div
				class="flex flex-row items-center justify-between h-full px-4 app-header-content md:px-8 lg:px-0"
			>
				<!-- {{-- SVG --}} -->
				<div class="svg">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-10 md:h-12"
						width="168"
						viewBox="0 0 168 48"
					>
						<g>
							<g>
								<g>
									<path
										fill="#451d59"
										d="M37.782 29.332a24.304 24.304 0 0 0-9.204 13.55c-.144.556-.17 1.364-.17 2.196a26.98 26.98 0 0 0 6.96-8.658 26.632 26.632 0 0 0 2.415-7.088zm14.46-4.693a24.297 24.297 0 0 0-3.345.216A25.652 25.652 0 0 1 37.168 37.64a29.153 29.153 0 0 1-6.145 8.028 24.322 24.322 0 0 0 21.22-21.029zM39.16 33.958a23.48 23.48 0 0 0 7.237-8.634 24.186 24.186 0 0 0-6.185 2.44c-.268 2.245-.8 4.45-1.583 6.57.18-.123.357-.248.531-.376zM37.546 18.12a23.643 23.643 0 0 0-2.964 4.28 23.397 23.397 0 0 1-.547 7.244 26.572 26.572 0 0 1 4.132-3.172 27.219 27.219 0 0 0-.621-8.352zM26.288 43.794c-.684-2.832-1.792-5.568-3.375-8.019a24.486 24.486 0 0 0-6.045-6.415 26.705 26.705 0 0 0 2.4 7.04 27.01 27.01 0 0 0 7.188 8.858 23.8 23.8 0 0 0-.168-1.464zm-10.242-29.64a28.86 28.86 0 0 1 1.474-3.305A29.18 29.18 0 0 1 26.706.429L27.323 0l.617.43A29.13 29.13 0 0 1 38.6 14.153l.708 2.153a29.006 29.006 0 0 1 1.098 8.92 26.445 26.445 0 0 1 7.018-2.32l2.301-.315a26.593 26.593 0 0 1 3.772-.075l1.114.058-.091 1.105a26.488 26.488 0 0 1-17.73 22.86c-3.038 1.055-6.126 1.45-9.486 1.45-3.332 0-6.447-.395-9.485-1.45A26.53 26.53 0 0 1 .091 23.68L0 22.573l1.113-.058a26.579 26.579 0 0 1 3.809.08l2.303.317a26.46 26.46 0 0 1 7.016 2.333 29.006 29.006 0 0 1 1.098-8.939zm19.168-2.308a27.015 27.015 0 0 0-7.89-9.2 27.018 27.018 0 0 0-7.892 9.2 26.62 26.62 0 0 0-1.667 3.924 25.557 25.557 0 0 1 2.784 3.426 23.195 23.195 0 0 1 6-11.107l.774-.798.773.798a23.2 23.2 0 0 1 6 11.107 25.61 25.61 0 0 1 2.784-3.426 26.646 26.646 0 0 0-1.666-3.924zm-15.86 9.33a23.665 23.665 0 0 0-2.255-3.056 27.031 27.031 0 0 0-.619 8.375 26.65 26.65 0 0 1 4.141 3.189 23.29 23.29 0 0 1-.557-7.284c-.224-.413-.46-.82-.71-1.223zm2.798 3.105zm0 0zm5.17 13.843c6.902-7.94 6.902-19.748 0-27.688a21.05 21.05 0 0 0-5.17 13.845 21.05 21.05 0 0 0 5.17 13.843zM14.445 27.79a24.27 24.27 0 0 0-6.192-2.456 23.638 23.638 0 0 0 7.24 8.634c.177.129.354.255.533.378a28.905 28.905 0 0 1-1.581-6.556zM5.75 24.86a24.274 24.274 0 0 0-3.384-.22 24.324 24.324 0 0 0 21.263 21.033 29.155 29.155 0 0 1-6.152-8.033 25.516 25.516 0 0 1-3.217-2 25.688 25.688 0 0 1-8.51-10.78z"
									/>
								</g>
								<g>
									<path
										fill="#451d59"
										d="M66.6 15.81h8.702v1.946h-3.299v10.537h-2.12V17.756h-3.28z"
									/>
								</g>
								<g>
									<path
										fill="#451d59"
										d="M82.964 15.81v4.815h6.28V15.81h2.104v12.483h-2.104v-5.725h-6.28v5.725H80.86V15.81z"
									/>
								</g>
								<g>
									<path
										fill="#451d59"
										d="M102.967 19.344l1.698 3.96h-3.395zm3.727 8.954h2.372l-6.099-13.178-6.097 13.177h2.372l1.426-3.21h4.6z"
									/>
								</g>
								<g>
									<path fill="#451d59" d="M116.72 15.81v12.483h-2.12V15.81z" />
								</g>
								<g>
									<path
										fill="#451d59"
										d="M133.34 26.674c1.16 0 1.925-.66 1.925-1.658 0-1.374-1.087-1.82-2.657-2.408-1.248-.446-3.317-1.32-3.317-3.656 0-1.997 1.677-3.352 3.923-3.352 2.212 0 3.55 1.355 4.191 2.657l-1.712.963c-.517-.91-1.248-1.748-2.514-1.748-1.16 0-1.694.642-1.694 1.338 0 .98.82 1.587 2.835 2.282 1.498.518 3.174 1.57 3.174 3.745 0 2.32-2.032 3.727-4.154 3.727-2.194 0-3.977-1.462-4.78-3.192l1.57-1.105c.802 1.444 1.8 2.407 3.21 2.407z"
									/>
								</g>
								<g>
									<path
										fill="#451d59"
										d="M147.502 17.666c1.447 0 2.41.695 2.41 2.03s-.963 2.011-2.41 2.011h-1.66v-4.041zm-3.762-1.856v12.483h2.104v-4.726h1.659c2.728 0 4.476-1.48 4.476-3.87 0-2.389-1.748-3.887-4.476-3.887z"
									/>
								</g>
								<g>
									<path
										fill="#451d59"
										d="M161.488 19.344l1.694 3.96h-3.388zm3.727 8.954h2.372l-6.099-13.178-6.098 13.177h2.372l1.426-3.21h4.6z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M67.69 39.008h-.94l.74-5.668 2.214 3.665 2.22-3.663.74 5.668h-.94l-.37-3.285-1.65 2.784-1.643-2.784z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M77.166 35.128l.729 1.712h-1.458zm1.613 3.87h1.025L77.167 33.3l-2.637 5.699h1.026l.615-1.388h1.99z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M83.456 38.298c.502 0 .833-.286.833-.718 0-.594-.47-.786-1.149-1.04-.54-.192-1.434-.57-1.434-1.58 0-.864.725-1.45 1.696-1.45.957 0 1.535.586 1.813 1.149l-.74.417c-.224-.393-.54-.756-1.088-.756-.501 0-.733.278-.733.579 0 .424.355.686 1.226.987.648.224 1.373.68 1.373 1.62 0 1.002-.88 1.61-1.797 1.61-.948 0-1.72-.632-2.066-1.38l.68-.48c.346.625.777 1.042 1.386 1.042z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M89.306 38.298c.502 0 .834-.286.834-.718 0-.594-.47-.786-1.15-1.04-.54-.192-1.434-.57-1.434-1.58 0-.864.725-1.45 1.697-1.45.956 0 1.534.586 1.812 1.149l-.74.417c-.224-.393-.54-.756-1.088-.756-.501 0-.732.278-.732.579 0 .424.354.686 1.226.987.647.224 1.372.68 1.372 1.62 0 1.002-.88 1.61-1.797 1.61-.948 0-1.72-.632-2.066-1.38l.68-.48c.346.625.778 1.042 1.386 1.042z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M95.368 35.128l.732 1.712h-1.465zm1.611 3.87h1.026L95.368 33.3l-2.638 5.699h1.026l.617-1.388h1.989z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M102.275 36.178h2.6c.04 1.58-.925 2.938-2.653 2.938-1.634 0-2.822-1.164-2.822-2.814 0-1.65 1.203-2.792 2.838-2.792 1.056 0 1.843.447 2.32 1.195l-.74.501c-.301-.508-.834-.856-1.582-.856-1.048 0-1.88.772-1.88 1.952s.818 1.966 1.88 1.966c.964 0 1.52-.586 1.697-1.32h-1.658z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M110.415 33.603v.8h-2.39v1.315h2.236v.787h-2.237v1.693h2.39V39h-3.284v-5.4z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M50.298 9.545L50.07 8.5l-1.044.261a25.52 25.52 0 0 0-9.306 4.485l.655 1.995.032.113a23.424 23.424 0 0 1 8.062-4.278 23.426 23.426 0 0 1-.512 10.148l1.768-.24c.151-.014.303-.026.455-.037a25.529 25.529 0 0 0 .118-11.402z"
									/>
								</g>
								<g>
									<path
										fill="#9b74b2"
										d="M4.347 9.545L4.575 8.5l1.044.261a25.52 25.52 0 0 1 9.306 4.485l-.655 1.995-.032.113a23.424 23.424 0 0 0-8.062-4.278 23.426 23.426 0 0 0 .512 10.148l-1.768-.24a28.247 28.247 0 0 0-.455-.037 25.529 25.529 0 0 1-.118-11.402z"
									/>
								</g>
							</g>
						</g>
					</svg>
				</div>
				<!-- {{-- Phone call --}} -->
				<div
					class="flex flex-col items-center justify-end app-phone-info md:flex-row md:items-center md:justify-center"
				>
					<a
						href="tel:89645010926"
						class="font-normal text-right text-phone md:text-center md:mr-5"
					>
						8 (964) 501-09-26
					</a>
					<div
						@click="toggleModal('Заказать звонок', 'Заказать звонок')"
						class="font-normal text-right border-0 border-dotted cursor-pointer text-call md:text-center border-b-3 border-call"
					>
						Заказать звонок
					</div>
				</div>
			</div>
		</header>

		<!-- HOME PAGE -->
		<div
			v-if="!isSuccess && !isModal"
			class="flex flex-col flex-grow w-full mx-auto app-home-view lg:px-32 md:pb-8 lg:pb-20"
		>
			<section
				class="relative flex flex-col items-center flex-auto app-content bg-image"
			>
				<div class="z-10 flex flex-col justify-center flex-grow">
					<h1
						class="px-4 mx-auto mb-4 font-bold text-center font-jost text-colorh1 text-h1sm md:text-h1md max-w-64/5rem md:mb-6 lg:mb-6"
					>
						Тайский массаж от&nbsp;профессионалов Тайланда
					</h1>

					<p
						class="px-4 mb-8 font-normal text-center text-white font-book text-psm md:text-pmd md:mx-auto md:max-w-28rem lg:max-w-28rem md:mb-12"
					>
						Уникальное предложение на&nbsp;первый сеанс массажа за&nbsp;
						<span
							class="whitespace-no-wrap animated-numbers text-p1sm md:text-p1md"
						>
							<i class="inline-block not-italic tracking-tight animated-number"
								>9</i
							>
							<i class="inline-block not-italic tracking-tight animated-number"
								>9</i
							>
							<i class="inline-block not-italic tracking-tight animated-number"
								>0</i
							>
							<i class="not-italic ml-0/15">&#8381;</i>
						</span>
						вместо&nbsp;2 990
					</p>

					<Form />
				</div>

				<footer class="z-10 flex justify-center px-4 text-footer">
					<p class="w-full pb-5 font-light text-center md:max-w-20/5rem">
						Оставляя контактную информацию, вы&nbsp;соглашаетесь
						на&nbsp;обработку персональных данных
					</p>
				</footer>
			</section>
		</div>

		<!-- SUCCESS -->
		<div
			v-if="isSuccess && isModal"
			class="relative flex flex-col items-center justify-center h-screen"
		>
			<a
				href="#"
				class="absolute top-0 right-0 mt-4 mr-4 cursor-pointer text-close"
				wire:click.prevent="setModal(0)"
			>
				<svg
					class="w-6 h-6"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M6 18L18 6M6 6l12 12"
					/>
				</svg>
			</a>
			<h2 class="font-light uppercase text-smthanks md:text-mdthanks">
				Спасибо!
			</h2>
			<p
				class="mt-4 font-semibold text-smaccepted md:text-mdaccepted lg:text-lgaccepted"
			>
				Ваша заявка принята
			</p>
			<div class="w-full px-4 mt-12">
				<button
					@click="toggleModal"
					class="flex items-center justify-center w-full mx-auto cursor-pointer bg-button h-input max-w-23/75rem rounded-input hover:opacity-75 focus:outline-none"
				>
					<p class="font-normal text-white text-closemodal">Закрыть</p>
				</button>
			</div>
		</div>

		<!-- MODAL -->
		<div
			v-if="!isSuccess && isModal"
			class="flex flex-col flex-grow w-full mx-auto app-modal-view"
		>
			<section
				class="relative flex items-center flex-grow w-full mx-auto app-content max-w-23/75rem"
			>
				<div @click="toggleModal" class="absolute cursor-pointer top-1 right-1">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						viewBox="0 0 18 18"
					>
						<path
							fill="none"
							stroke="#d9d7d7"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-miterlimit="20"
							stroke-width="1.5"
							d="M1 1l16 16"
						/>
						<path
							fill="none"
							stroke="#d9d7d7"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-miterlimit="20"
							stroke-width="1.5"
							d="M17 1L1 17"
						/>
					</svg>
				</div>
				<!-- {{--FORM--}} -->
				<Form :modalBorder="true" />
			</section>
		</div>
	</div>
</template>
<script>
	import Form from "./components/Form";
	import { mapGetters, mapActions } from "vuex";
	export default {
		name: "App",
		data: () => ({
			modalTitle: "",
			btnName: "",
		}),
		mounted: function () {
			this.setViewHeight();
			window.addEventListener("resize", () => {
				this.setViewHeight();
			});
		},
		computed: {
			...mapGetters(["isModal", "isSuccess"]),
		},
		methods: {
			...mapActions(["setModal", "unsetModal", "setSuccess", "unsetSuccess"]),

			setViewHeight: function () {
				let vh = window.innerHeight * 0.01;
				document.documentElement.style.setProperty("--vh", `${vh}px`);
				console.log(vh);
			},

			toggleModal(title, btn) {
				this.modalTitle = title;
				this.btnName = btn;
				if (this.isModal) {
					this.unsetModal();
				} else {
					this.setModal();
				}
				this.unsetSuccess();
			},
		},
		components: {
			Form,
		},
	};
</script>
