@layer base {
    .bg-image {
        @apply bg-center;
        @apply bg-no-repeat;
        @apply bg-cover;
        background-image: url("../images/bg-sm.png");
    }
    //BG DARKEN
    .bg-image:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #141313;
        opacity: 0.5;
        @apply z-0;
    }
    @screen sm {
        .bg-image {
            background-image: url("../images/bg-sm.png");
        }
    }
    @screen md {
        .bg-image {
            @apply bg-left-top;
            background-image: url("../images/bg-md.png");
        }
    }
    @screen lg {
        .bg-image {
            background-image: url("../images/bg-lg.png");
        }
    }
}
