@layer base {
    .app-content {
        min-height: calc(100vh - 75px - 108px);
    }

    @media only screen and (-webkit-device-pixel-ratio: 3) and (device-height: 812px) and (device-width: 375px) {
        .app-content {
            min-height: calc(100vh - 75px - 179px);
        }
    }

    //HEADER BORDER
    .app-header {
        box-shadow: inset 0 -1px 0 #dcdbda;
    }
    // INPUT BORDER IN MODAL
    .phone-border {
        border: solid 0.0625rem #d9d7d7;
    }

    .animated-numbers {
        .animated-number {
            animation: float 0.3s ease-in-out infinite;

            &:nth-child(1) {
                animation-delay: 0s;
            }
            &:nth-child(2) {
                animation-delay: 0.05s;
            }
            &:nth-child(3) {
                animation-delay: 0.1s;
            }
        }
    }

    @keyframes float {
        0% {
            transform: none;
        }
        33% {
            transform: translateY(-1px) rotate(-2deg);
        }
        66% {
            transform: translateY(1px) rotate(2deg);
        }
        100% {
            transform: none;
        }
    }

    .button-pulse {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: all ease-in 0.2s;
        position: relative;
        overflow: hidden;

        &:hover {
            &:after {
                left: 120%;
            }
        }

        &:after {
            background: #fff;
            content: "";
            height: 9.6875rem;
            left: -4.6875rem;
            opacity: 0.2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            width: 3.125rem;
            z-index: 1;

            animation-delay: 0.01s;
            animation-timing-function: ease-in-out;
            animation-name: radiance;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }

    @keyframes radiance {
        0% {
            left: -30px;
            margin-left: 0px;
        }
        30% {
            left: 110%;
            margin-left: 80px;
        }
        100% {
            left: 110%;
            margin-left: 80px;
        }
    }
}
