@layer base {
    @font-face {
        font-family: Jost;
        font-weight: 300;
        src: url("/fonts/Jost-300-Light.ttf") format("truetype");
    }
    @font-face {
        font-family: Jost;
        font-weight: 400;
        src: url("/fonts/Jost-400-Book.ttf") format("truetype");
    }
    @font-face {
        font-family: Jost;
        font-weight: 500;
        src: url("/fonts/Jost-500-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: Jost;
        font-weight: 600;
        src: url("/fonts/Jost-600-Semi.ttf") format("truetype");
    }
    @font-face {
        font-family: Jost;
        font-weight: 700;
        src: url("/fonts/Jost-700-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: Book;
        font-weight: 400;
        src: url("/fonts/JostRub_-Book.otf") format("opentype");
    }
    @font-face {
        font-family: Book;
        font-weight: 700;
        src: url("/fonts/JostRub_-Heavy.otf") format("opentype");
    }
}
