<template>
	<!-- {{--FORM--}} -->
	<form
		@submit.prevent="submitForm"
		class="w-full max-w-23/75rem text-form px-4 bg-transparent flex flex-col items-center mx-auto"
	>
		<!-- {{--PHONE INPUT--}} -->
		<masked-input
			type="tel"
			autocomplete="off"
			placeholder="Ваш телефон"
			class="w-full bg-white h-input rounded-input flex justify-center items-center text-input text-center outline-none focus:outline-none"
			:class="[{ 'phone-border': modalBorder }]"
			v-model="$v.phone.$model"
			:mask="{
				pattern: '\+7 (V11) 111-11-11',
				formatCharacters: {
					V: {
						validate: (char) => /[0-9]/.test(char),
					},
				},
			}"
			@focus.native="(isValid = true), (onFocus = true)"
			@blur.native="onFocus = false"
		/>

		<!-- {{--SUBMIT PHONE--}} -->
		<button
			class="w-full text-white font-normal button button-pulse bg-button h-input mt-4 rounded-input flex justify-center items-center focus:outline-none active:outline-none"
		>
			Записаться на массаж
		</button>
	</form>
</template>

<script>
	import MaskedInput from "vue-masked-input";
	import { required, helpers } from "vuelidate/lib/validators";
	import axios from "axios";
	import { mapActions, mapGetters } from "vuex";

	//валидация телефона по регулярному вырожению
	const phoneValidat = helpers.regex(
		"phoneValidat",
		/^(\+)?(\(\d{2,3}\) ?\d|\d)(([ \-]?\d)|( ?\(\d{2,3}\) ?)){5,12}\d$/
	);

	export default {
		data: () => ({
			phone: "",
			isValid: true,
			onFocus: false,
		}),
		props: {
			modalBorder: {
				type: Boolean,
				default: false,
				required: false,
			},
			buttonName: {
				type: String,
				default: "Заказать",
			},
			link_url: {
				type: String,
				default: "https://t.me/Brand_Man_Shop",
			},
			title: {
				type: String,
				default: "",
			},
		},
		validations: {
			phone: {
				required,
				phoneValidat,
			},
		},
		computed: {
			...mapGetters(["isModal", "isSuccess"]),
		},
		methods: {
			...mapActions(["setModal", "unsetModal", "setSuccess", "unsetSuccess"]),
			submitForm() {
				if (this.$v.phone.$invalid) {
					this.isValid = false;
				} else {
					this.isValid = true;
					fbq("track", "Lead");
					axios
						.post("/bx24", {
							phone: this.phone,
						})
						.then((response) => {
							console.log(response);
							this.phone = "";
							this.setSuccess();
							this.setModal();
						});
				}
			},
		},
		components: { MaskedInput },
	};
</script>
